body {
    background-image: url("../images/abstract-background-bitmap.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
 .container{
    border: 1px solid #ccc;
    padding: 30px;
    width: 420px;
    margin: auto;
    background-image: url('../images/svg.Image.file.jpeg');
    text-align: center;
     border-radius: 25px;
     background-repeat: no-repeat;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

}
 .toplinks a{
     float: left;
     display: block;
     background-color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     border-bottom: 3px solid transparent;
 }
 .toplinks a:hover{
     border-bottom: 3px black;
 }

 .toplinks a.active{
     border-bottom: 3px black;
 }






